{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="container" style="display:flex; justify-content: space-around; flex-wrap: wrap;">

    {% for article in articles %}

    <article class="text-center border border-dark mb-3 p-1 mt-3">
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i:s') }}
            dans la catégorie Politique</div>
        <div class="content">
            <div class="container">
                <img src="{{ asset('images/articles/' ~ article.image) }}" alt="picture" class="img-fluid mt-4 mb-4">
            </div>

            {{ article.content | raw }}

            <a href="{{ path('blog_show', {'id' : article.id }) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>

    {% endfor %}

</section>


{% endblock %}